{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Create Event{% endblock title %}

{% block page-title %}
    <p>Admin Page</p>
{% endblock page-title %}

{% block content %}
<section class="create-section">
        <div class="btn btn-secondary back-btn">
            <a href="{% url 'events' %}">Back</a>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <p class="form-title">Create an Event</p>
            <input type="text" name="title" id="title" placeholder="Enter event title" required>
            <textarea name="description" id="description" placeholder="Describe your event" required></textarea>
            <label for="due-date">Due date (if any)</label>
            <input type="date" name="due-date" id="due-date">
            <p for="flyer">Event flyer</p>
            <input type="file" name="flyer" id="flyer"> -->
            {{ form|crispy }}
            <input type="submit" value="Create" class="btn btn-primary">
        </form>
            
    </section>
{% endblock content %}
    
    