{% extends 'main.html' %}


{% block title %}Donors{% endblock title %}

{% block page-title %}
    <p>Admin Page</p>
{% endblock page-title %}

{% block content %}
    {% include 'side-bar.html' %}

    <section>
        <!-- <h3>List of Donors For:</h3> -->
        <h1>Donors For {{ event.title }}</h1>
        
        <table class="events-table" border="1">
            <thead>
                <th>S/N</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Amount</th>
                <th>Date</th>
            </thead>
            {% for donation in donations %}
            <tbody>
                <td>{{ forloop.counter }}</td>
                <td>{{ donation.donor.name }}</td>
                <td>{{ donation.donor.phone_num }}</td>
                <td>{{ donation.amount }}</td>
                <td>{{ donation.date | date:'d-M-Y' }}</td>
            
            {% empty %}
                <td colspan="5">No donor to this event yet.</td>
            </tbody>
            {% endfor %}
        </table>

        <div class="btn btn-secondary back-btn">
            <a href="{{ request.META.HTTP_REFERER }}">Back</a>
        </div>
            
    </section>
{% endblock content %}
    
    