{% extends 'main.html' %}


{% block title %}Events{% endblock title %}

{% block page-title %}
    <p>Admin Page</p>
{% endblock page-title %}

{% block content %}
    {% include 'side-bar.html' %}

    <section>
        <div class="events-btn">
            <div class="btn btn-primary">
                <a href="{% url 'create-event' %}">Create New Event</a>
            </div>
        </div>
        <h1 class="events-title">Your List of Events</h1>
        <table class="events-table" border="1">
            <thead>
                <th>S/N</th>
                <th>Event Title</th>
                <th>Date Created</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            {% for event in events %}
            <tbody>
                <td>{{ forloop.counter }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.date_created | date:'d-M-Y' }}</td>
                <td>
                    {% if event.is_completed == True %}
                        Completed
                    {% else %}
                        In-Progress
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'event-detail' slug=event.slug %}" class="view-btn">View</a>
                    <a href="{% url 'delete-event' slug=event.slug %}" class="view-btn">Delete</a>
                    
                    {% if event.is_completed == True %}
                        <a href="{% url 'event-state' slug=event.slug %}" class="view-btn">Restart</a>
                    {% else %}
                        <a href="{% url 'event-state' slug=event.slug %}" class="view-btn">End</a>
                    {% endif %}
                </td>
                {% empty %}
                    <td colspan="5"><em>You have not created any event yet.</em></td>
            </tbody>
            {% endfor %}
        </table>

        <div class="btn btn-secondary back-btn">
            <a href="{% url 'events' %}">Back</a>
        </div>
            
    </section>
{% endblock content %}
    
    