{% extends 'main.html' %}


{% block title %}Events{% endblock title %}


{% block content %}
    {% include 'side-bar.html' %}

    <section>
        <div class="events-btn">
            <div class="btn btn-primary">
                <a href="{% url 'create-event' %}">Create New Event</a>
            </div>
        </div>
        
        <table class="events-table" border="1">
            <thead>
                <th>S/N</th>
                <th>Event Title</th>
                <th>Date Created</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            {% for event in events %}
            <tbody>
                <td>{{ forloop.counter }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.date_created | date:'d-M-Y' }}</td>
                <td>
                    {% if event.is_completed == True %}
                        Completed
                    {% else %}
                        In-Progress
                    {% endif %}
                </td>
                <td><a href="{% url 'event-detail' pk=event.id %}">View</a> | Share | Restart</td>
                {% empty %}
                    <td colspan="5">You have not created any event yet.</td>
            </tbody>
            {% endfor %}
        </table>
            
    </section>
{% endblock content %}
    
    