{% extends 'main.html' %}

{% block title %}Home{% endblock title %}

{% block page-title %}
    <p>Welcome Page</p>
{% endblock page-title %}

{% block content %}


<section>
    <h1>Welcome To Our Donation Tracker~</h1>
    <p>Start with....</p>
    <div class="home-btns">
        <div class="btn btn-primary">
            <a href="{% url 'login' %}">Login</a>
        </div>
        <div class="btn btn-secondary">
            <a href="{% url 'signup' %}">Sign up</a>
        </div>
    </div>
    
</section>
{% endblock content %}
    