* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #D3D9D4;
}

/* TOP BAR STYLES */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 10px 80px;
    background-color: #748D92;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

header .logo img{
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}

header .title {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3pt;
}

header .username {
    display: flex;
    align-items: center;
    gap: 50px;
}

header .username p span{
    font-size: 20px;
    font-weight: 500;
}

header .logout-btn {
    font-size: 16px;
    border-radius: 20px;
    color: #fff;
    background-color: #124E66;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

header .logout-btn:hover, .logout-btn:active {
    background-color: #124e66c5;
}

/* SIDE BAR STYLES */

a {
    color: #fff;
    text-decoration: none;
}

li {
    list-style: none;
}

aside {
    position: fixed;
    background-color: #124E66;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    color: #fff;
    overflow-x: hidden;
}

aside nav {
    margin-top: 150px;
}

aside li a {
    font-size: 25px;
    margin-top: 15px;
    padding: 10px 50px;
    display: block;
}

aside li a:hover, aside li a:active, .focus {
    color: #124E66;
    background-color: #D3D9D4;
}

section {
    margin: 75px 50px 10px 250px;
    padding: 50px;
}


/* HOME SECTION STYLES */

.home-btns, .events-btn, .details-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn {
    font-weight: 500;
    padding: 7px 20px;
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
}

.btn-primary {
    color: #fff;
    background-color: #124E66;
    border: 1px solid #124E66;
}

.btn-primary:hover {
    background-color: #124e66c5;
}

.btn-secondary {
    background-color: #D3D9D4;
    border: 1px solid #124E66;
}
.btn-secondary a {
    color: #124E66;
}

.btn-secondary:hover {
    background-color: #c8cdc9;
}


.home-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 100px;
    row-gap: 30px;
}

.home-cards .card, .detail-cards .card, .amount-content .card{
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    min-width: max-content;
}

.home-cards .card-title, .detail-cards .card-title, .amount-content .card-title {
    text-align: center;
    font-size: 20px;
    color: #979696;
}

.home-cards .card-text, .detail-cards .card-text, .amount-content .card-text {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
}


/* EVENT SECTION STYLES */
section h1 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 10px;
    color: #124E66;
}

.events-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
}

th, td {
    padding: 10px;
}

.events-table .view-btn {
    font-size: 14px;
    font-weight: 500;
    color: #124E66;
    background-color: none;
    padding: 3px 13px;
    border: 1px solid #124E66;
    border-radius: 20px;
}

.view-btn:hover, .view-btn:active {
    background-color: #124e66c5;
    color: #fff;
}


/* EVENT DETAIL SECTION STYLES */

section .detail-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}

.text-detail .title {
    font-size: 2rem;
}

.text-detail .title span {
    font-weight: 600;
}

.detail-top .date, .detail-top .status {
    font-style: italic;
    margin-bottom: 20px;
}

section .flyer {
    width: 200px;
    height: 200px;
    border: 2px solid #124E66;
    border-radius: 50%;
}

.detail-bottom .detail-cards {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 20px;
}

.detail-cards .card {
    width: 40%;
}

.detail-cards .card-text span, .amount-content .card-text span {
    font-weight: 400;
    font-size: 20px;
    opacity: 0.7;
}

.detail-cards .card .btn {
    margin: auto;
    padding: 3px 20px;
}

.back-btn {
    margin-top: 30px;
}


/* DONATE FORM STYLES */
.donate-section, .create-section {
    padding-top: 18px;
    padding-bottom: 0;
    margin: 75px 0 0 0;
}

.donate-section .back-btn {
    margin-top: 5px;
}

.donate-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-top img {
    width: 150px;
    height: 150px;
}

.donate-top .event-desc {
    text-align: center;
    width: 80%;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 15px;
}

.donate-top .donate-form-btns {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.donate-top .donate-form-btns .btn {
    padding: 3px 10px;
}

.donate-form-btns .btn-secondary {
    color: #124E66;
}

.donate-section form, .create-section form {
    background-color: #fff;
    width: 30%;
    min-width: max-content;
    margin: 10px auto;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 25px;
}

.donate-section form input, .donate-section form textarea, .create-section form input, .create-section form textarea {
    display: block;
    font-size: 15px;
    padding: 15px;
    width: 90%;
    height: 43px;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
}

form input:active, form input:focus {
    border: 2px solid #748D92;
    outline: none;
}

form .form-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}



/* AMOUNT PAGE STYLES */

.amount-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.amount-content .card {
    margin-top: 20px;
    width: 40%;
    height: max-content;
}


/* CREATE EVENT STYLES */

.create-section form {
    margin-top: 40px;
}

.create-section .form-title {
    font-size: 25px;
}

.create-section form textarea {
    height: 100px;
}

.create-section form .btn {
    padding: unset;
    font-size: 20px;
}

.create-section .img-input {
    height: fit-content;
}


/* LOGIN PAGE STYLES */
.login-section, .logout-section {
    margin: 75px 0 0 0;
}


.login-form {
    margin: auto;
    width: fit-content;
    padding: 35px;
    border-radius: 15px;
    font-size: 20px;
}

.login-form fieldset {
    padding: 20px ;
}

.login-form legend {
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
}

.login-form input {
    margin-bottom: 20px;
}


.logout-section p {
    font-size: 25px;
}

.logout-section p a {
    color: #124E66;
    font-size: 20px;
}