* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #D3D9D4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: #748D92;
    color: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
}

header .logo img{
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}

header .title {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3pt;
}

header .username {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .username p {
    font-size: 18px;
}

a {
    color: #fff;
    text-decoration: none;
}

li {
    list-style: none;
}

main {
    display: flex;
    display: -webkit-flex;
}

aside {
    /* flex: 1; */
    position: fixed;
    background-color: #124E66;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    color: #fff;
    /* padding: 50px 30px 50px 50px; */
}

aside nav {
    margin-top: 150px;
}

aside li a {
    font-size: 25px;
    margin-top: 15px;
    padding: 10px 50px;
    display: block;
}

aside li a:hover, aside li a:active, aside li a:focus {
    color: #124E66;
    background-color: #D3D9D4;
}

section {
    /* flex: 4; */
    margin: 60px 50px 10px 300px;
}


/* HOME SECTION STYLES */

.home-btns, .events-btn {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 30px;
}

.btn {
    font-weight: 500;
    padding: 7px 20px;
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
}

.btn-primary {
    color: #fff;
    background-color: #124E66;
    border: 1px solid #124E66;
}

.btn-primary:hover {
    background-color: #124e66c5;
}

.btn-secondary {
    background-color: #D3D9D4;
    border: 1px solid #124E66;
}
.btn-secondary a {
    color: #124E66;
}

.btn-secondary:hover {
    background-color: #c8cdc9;
    
}


.home-content {
    /* width: 100%; */
    margin: auto;
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    column-gap: 40px;
    row-gap: 20px;
}

.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
}

.card-title {
    text-align: center;
    font-size: 18px;
    color: #979696;
}

.card-text {
    font-size: 4rem;
    font-weight: 500;
    width: fit-content;
    margin: auto;
}


/* EVENT SECTION STYLES */

.events-table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px 20px;
}


/* EVENT DETAIL SECTION STYLES */

section .detail-top {
    display: flex;
    align-items: center;
    gap: 80px;
}

.text-detail .title {
    font-size: 2rem;
}
.text-detail .title span {
    font-weight: 600;
}

.detail-top .date, .detail-top .status {
    font-style: italic;
    margin-bottom: 20px;
}

section .flyer {
    width: 200px;
    height: 200px;
    border: 2px solid #124E66;
    border-radius: 50%;
}

.detail-bottom .detail-cards {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.detail-cards .card {
    width: 400px;
}

.card .card-text span {
    font-weight: 400;
    font-size: 20px;
    opacity: 0.7;
}

.detail-cards .card .btn {
    margin: auto;
    padding: 3px 20px;
}

.detail-bottom .btn-secondary {
    margin-top: 30px;
}


/* DONATE FORM STYLES */

.donate-section, .create-section {
    width: 45%;
    margin: auto;
}

.donate-section .donate-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.donate-section img {
    width: 150px;
    height: 150px;
}

.donate-section .donate-top .event-desc {
    text-align: center;
    width: 80%;
    font-style: italic;
    font-size: 14px;
}

form {
    background-color: #fff;
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 25px;
}

form input, textarea {
    display: block;
    font-size: 15px;
    padding: 15px;
    width: 90%;
    height: 43px;
    border-radius: 30px;
    border: 1px solid gray;
}

form input:active, form input:focus {
    border: 2px solid #748D92;
    outline: none;
}

form .form-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

form .btn {
    padding: 5px 20px;
}


/* AMOUNT PAGE STYLES */

.amount-content {
    margin: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.amount-content .title {
    font-weight: 600;
}

.amount-content .card {
    margin-top: 20px;
    width: 300px;
}


/* CREATE EVENT STYLES */

textarea {
    height: 100px;
}

.create-section form {
    margin-top: 60px;
}

.create-section form input, textarea {
    border-radius: 15px;
}


/* LOGIN PAGE STYLES */

.login-form {
    width: fit-content;
    padding: 35px;
    border-radius: 15px;
}

.login-form fieldset {
    padding: 20px ;
}

.login-form legend {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.login-form input {
    margin-bottom: 20px;
}


.logout-form {
    width: unset;
    padding: 0;
}

