{% extends 'main.html' %}
{% load crispy_forms_tags %}


{% block title %}Sign up{% endblock title %}


{% block content %}
    <section class="login-section">
        <form action="" method="post" class="login-form">
            {% csrf_token %}
            <fieldset>
                <legend>Sign Up</legend>
                {{ form|crispy }}
                <input type="submit" value="Sign up" class="btn btn-primary">
                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </fieldset>
        </form>
    </section>
{% endblock content %}
    
    