{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'donateApp/style.css' %}">
    <title>WeDonate | {% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <figure>
                <img src="{% static 'donateApp/imgs/logo-2.png' %}" alt="logo">
            </figure>
        </div>
        <div class="title">
            <p>Admin Page</p>
        </div>
        <div class="username">
            <p>Hi, Deen</p>
        </div>
    </header>
    <main>
            
        {% block content %}
            
        {% endblock content %}
                
    </main>
</body>
</html>