{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'donateApp/style.css' %}">
    <title>WeDonate | {% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <figure>
                <img src="{% static 'donateApp/imgs/logo-2.png' %}" alt="logo">
            </figure>
        </div>
        <div class="title">
            <p>Admin Page</p>
        </div>
        <div class="username">
            
            {% if user.is_authenticated %}
            <p>Hi, <span>{{ user.username }}</span></p>
            <form action="{% url 'logout' %}" method="post" class="logout-form">
                {% csrf_token %}
                <input type="submit" value="Logout" class="logout-btn">
            </form>
            {% endif %}
                
            </svg>
        </div>
    </header>
    <main>
            
        {% block content %}
            
        {% endblock content %}
                
    </main>

    <script src="{% static 'donateApp/script.js' %}"></script>
</body>
</html>